.App {
  text-align: center;
}

body{
  background-color: floralwhite;
}

.TextArea {
  opacity: 0.75;
  width: 45%;
  height: 95vh;
  margin: 10px;
  float: left;
  padding: 3px;
  opacity: 0.6;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 1.9);
  border: none;
  overflow:auto;
  overflow-y: scroll;
  background:#fff;
}

.PrevArea{
  opacity: 0.75;
  margin: 10px;
  width: 45%;
  height: 95vh;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 1.9);
  float: right;
  overflow:auto;
  overflow-y: scroll;
  background:#fff;
}
